section.course {
    background: rgb(255, 228, 106);
}

section.course div.course-second-diagonal {
    position: relative;
    background: #ffffff;
    clip-path: polygon(0 0, 100% 0, 100% 92%, 0 100%);
    width: 100%;
    text-align: center;
}

.course-container {
    height: 100%;
    display: inline-block;
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 12rem;
}

.course-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}

.course-desc1 {
    text-align: left;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
    font-size: 20px;
}

.course-desc2 {
    text-align: left;
    width: 100%;
    font-size: 20px;
}

.course-title{
    font-size: 50px;
    margin-bottom: 10px;
}

.course-card-title {
    font-size: 30px;
    background-color: white;
}

.course-table {
    display: table;
    width: 100%;
}

.course-header {
    display: table-header-group;
}


.course-title-row {
    display: table-row-group;
}

.course-title-cell {
    display: table-cell;
    text-align: left;
}

.course-title-cell-right {
    display: table-cell;
    text-align: right;
}

.course-body {
    display: table-row-group;
}

.course-row {
    display: table-row;
}

.course-cell {
    display: table-cell;
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
    font-size: 15px;
}

.course-header-padding {
    width: 2rem;
}

.course-bg-grey {
    background: #C0C0C0
}

.bottom-padding {
    margin-bottom: 2rem;
}

.text-sc-right {
    text-align: left;
}

@media screen and (min-width: 769px) and (max-width: 1100px) {
    .course-desc1 {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .course-desc2 {
        width: 100%;
        padding-top: 0px;
    }
    .course-lg-title{
        font-size: 30px;
    }
    .course-title {
        font-size: 19px;
    }
    .course-title-row {
        display: block;
    }
    .course-title-cell-right {
        display: block;
        text-align: left;
        padding-bottom: 10px
    }
    .course-cell {
        font-size: 13px;
    }
    .text-sc-right {
        text-align: left;
    }
}

@media screen and (max-width: 768px) {
    .course-desc1 {
        width: 100%;
        padding-top: 0px;
        padding-bottom: 0px;
    }
    .course-desc2 {
        width: 100%;
        padding-top: 0px;
    }
    .course-lg-title{
        font-size: 30px;
    }
    .course-title {
        font-size: 19px;
    }
    .course-title-row {
        display: block;
    }
    .course-title-cell-right {
        display: block;
        text-align: left;
        padding-bottom: 10px
    }
    .course-cell {
        font-size: 13px;
    }
    .text-sc-right {
        text-align: right;
    }
}