.modal-laichikok {
    display: block;
    position: fixed;
    background: white;
    height: 96%;
    width: 96%;
    top: 2%;
    left: 2%;
    z-index: 99999;
    text-align: center;
    overflow: scroll;
    border-radius: 0.5em;

}

.modal-inner{
    display: block;
    position: relative;
    text-align: center;
    padding-top: 8rem;
    width: 100%;
}

.modal-laichikok-expand {
    display: none;
}

.modal-container {
    display: inline-block;
    position: relative;
}

.modal-close {
    position: fixed;
    top: 2%;
    right: 8%;
    z-index: 999999;
}

.modal-laichikok-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-laichikok-outer-card{
    display: block;
    position: relative;
    text-align: center;
    width: 40%;
}

.modal-laichikok-card {
    width: 100%;
    margin-bottom: 2rem;
}

.modal-laichikok-card-up{
    width: 100%;
}

.modal-laichikok-card-img{
    width: 100%;

}

.modal-laichikok-card-down{
    width: 100%;
    padding: 2rem;
    word-wrap: break-word;
}

@media screen and (max-width: 768px){
    .modal-laichikok-outer-card {
        width: 100%;
    }
    .modal-laichikok-card {
        width: 80%;
    }
}

@media screen and (min-width: 769px) and (max-width:1100px) {
    .modal-laichikok-card {
        width: 90%;
    }
}